:root {
  --color-primary: rgb(255, 0, 128);
  --color-primary-fade: rgba(255, 0, 128, 0);
  --color-secondary: rgb(255, 204, 153);
  --color-secondary-fade: rgba(255, 214, 173, 0);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-gradient {
  background-image:
    radial-gradient(circle at 100% 0%, var(--color-primary), var(--color-primary-fade)),
    radial-gradient(circle at 0% 100%, var(--color-secondary), var(--color-secondary-fade));
}

.b--primary {
  border-color: rgba(255, 0, 128, 0.08);
}

.ts-primary {
  text-shadow: -1px 0 0 rgba(255, 0, 128, 0.2);
}

.sticky { position: sticky; }

.w3ch { width: 3ch; }

.link:visited { /* TODO */ }
