@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-flamingo: 255 0 128;
  --color-sunset: 255 204 153;
}

.bg-flamingo-in-sunset {
  background-image:
    radial-gradient(circle at 100% 0%, rgb(var(--color-flamingo)), rgb(var(--color-flamingo) / 0)),
    radial-gradient(circle at 0% 100%, rgb(var(--color-sunset)), rgb(var(--color-sunset) / 0));
}

.text-shadow-flamingo\/20 {
  text-shadow: -1px 0 0 rgba(var(--color-flamingo) / 0.2);
}

.animate-delay-200 {
  animation-delay: 200ms;
}

.animate-delay-400 {
  animation-delay: 400ms;
}
